.g-mn{width:812px;margin:0 auto;height:456px;font:14px Tahoma,arial,Microsoft YaHei,宋体}
.g-mn h1{font-size: 32px;font-weight:bold;padding:88px 0 18px 0;color:#333333;}
.m-content{border-top: 1px solid #dedede;}
.m-content .about{padding:28px 0 32px 0;line-height: 24px;color:#424242;}
.m-content li{line-height: 24px;height: 24px;}